<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Gheroku - Build Tool</title>

  <link rel="stylesheet" type="text/css" href="../lumx.css" />
  <link rel="stylesheet" type="text/css" href="../default.css" />

  <script src="jquery.min.js"></script>
  <script src="jquery.transit.js"></script>
  <script src="velocity.min.js"></script>
  <script src="highlight.pack.js"></script>
  <script src="moment-with-locales.min.js"></script>
  <script src="Underscore.min.js" ></script>
  <script src="angular.min.js"></script>
  <script src="angular-resource.min.js"></script>
  <script src="angular-route.min.js" ></script>
  <script src="angular-highlightjs.js"></script>

  <script src="lumx.js"></script>

  <script src="app.js"></script>

</head>

<body ng-app="hookapp">
  <div class="wraperMain" ng-controller="mainctrl">
   <div class="header"><!--header part-->
    <img src="images/logo.png"/>
    <h2 class="makeRight" style="margin-top: 40px;font-size: 1em;">Auto Deploy to Heroku, from Github Source</h2>
  </div>

  <div><!--container part-->
    <div class="toolbar">

        <strong class="toolbar__label tc-black"><h1>Configured Projects</h1></strong>

        <div class="toolbar__right">
            <button class="btn btn--m btn--red btn--fab" ng-click="openForm('newForm')" lx-ripple><i class="mdi mdi--add"></i></button>
            <!-- <button class="btn btn--m btn--red btn--fab" ng-click="addnew=true" lx-ripple><i class="mdi mdi--add"></i></button> -->
        </div>
    </div>
    <div class="data-table-container">
      <table class="data-table data-table--has-primary data-table--has-secondary" style="background: white">
        <thead>
          <tr>
          <th><strong>Project</strong></th>
          <th style="width: 200px"><strong>Git Branch</strong></th>
          <th><strong>Email Ids</strong></th>
          <th><strong>Heroku App</strong></th>
          <th style="width: 200px"><strong>Action</strong></th>
          </tr>
        </thead>
      <tbody>
        <tr ng-repeat="data in display_data" class="data-table" style="border-bottom: 1px solid #ececec">
          <td>{{data.git_appname}}</td>
          <td>
            {{data.branch}}
          </td>
          <td>
            <lx-dropdown position="left" from-top ng-show="data.report_to && data.report_to.length > 1">
              <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle style="-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);">
                <i class="mdi mdi--more-vert"></i>
              </button>

              <lx-dropdown-menu>
                <ul>
                  <li ng-repeat="email in data.report_to"><span style="cursor:default;" class="dropdown-link" ng-bind="email"></span></li>
                </ul>
              </lx-dropdown-menu>
            </lx-dropdown>
            <div ng-show="data.report_to && data.report_to.length == 1">
              {{data.report_to[0]}}
            </div>
          </td>
          <td>{{data.heroku_appname}}</td>
          <td>
            <lx-dropdown position="right" from-top>
              <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                <i class="mdi mdi--more-vert"></i>
              </button>

              <lx-dropdown-menu>
                <ul>
                  <li><a class="dropdown-link" ng-click="opendDialog('projectDetail', data)">View Details</a></li>
                  <li><a class="dropdown-link btn btn--m btn--red btn--flat" ng-click="delete()">Delete</a></li>
                </ul>
              </lx-dropdown-menu>
            </lx-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="dialog dialog--l" id="projectDetail" style="overflow:auto;" lx-dialog>
    <div class="dialog__header bgc-light-blue-500">
      <div class="toolbar">
        <div class="toolbar__left mr-">
          <button class="btn btn--l btn--white btn--icon" lx-ripple>
            <i class="mdi mdi--menu"></i>
          </button>
        </div>

        <strong class="toolbar__label tc-white" ng-bind="project_data.git_appname"></strong>

        <div class="toolbar__right">
          <button class="btn btn--l btn--white btn--icon" style="-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);" lx-ripple lx-dialog-close>
            <i class="mdi mdi--add"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="dialog__content p">
      <div class="grid">
        <div class="grid__col6">
          <ul class="list">
            <li class="list-row list-row--has-primary list-row--has-separator">
              <div class="list-content-tile list-content-tile--two-lines">
                <strong>Git Hub Project Name</strong>
                <span ng-bind="project_data.git_appname"></span>
              </div>
            </li>
            <li class="list-row list-row--has-primary" ng-init="edit_branch=false" ng-class="{false:'list-row--has-separator'}[edit_branch]">
              <lx-text-field class="list-content-tile" ng-show="edit_branch" label="Listening Branch">
                <input id="editBranch" type="text" ng-model="project_data.branch">
              </lx-text-field>
              <div ng-show="!edit_branch" class="list-content-tile list-content-tile--two-lines">
                <strong>Listening Branch</strong>
                <span ng-bind="project_data.branch"></span>
              </div>
              <div class="list-secondary-tile" style="cursor:pointer;">
                <i class="icon icon--s icon--grey icon--flat mdi mdi--edit" ng-show="!edit_branch" ng-click="edit_branch = true" focus="#editBranch"></i>
                <i class="icon icon--s icon--grey icon--flat mdi mdi--save" ng-show="edit_branch" ng-click="edit_branch=false;updateNow();"></i>
              </div>
            </li>
            <li class="list-row list-row--has-primary list-row--has-separator">
              <div class="list-content-tile list-content-tile--two-lines">
                <strong>Heroku App</strong>
                <span ng-bind="project_data.heroku_appname"></span>
              </div>
            </li>
            <li class="list-row list-row--has-primary list-row--has-separator" ng-show="project_data.sha">
              <div class="list-content-tile list-content-tile--two-lines">
                <strong>Last Commit</strong>
                <a href="https://github.com/{{project_data.git_account}}/{{project_data.git_appname}}/commit/{{project_data.sha}}" target="_new" ng-bind="project_data.last_commit"></a>
              </div>
            </li>
            <li class="list-row list-row--has-primary list-row--has-separator" ng-show="project_data.last_build">
              <div class="list-content-tile list-content-tile--two-lines">
                <strong>Last Updated</strong>
                <span ng-bind="project_data.last_build | date : 'M/d hh:mm a'"></span>
              </div>
            </li>
          </ul>
        </div>
        <div class="grid__col6">
          <ul class="list">
            <li class="list-row list-row--has-primary">
              <div class="list-content-tile list-content-tile--two-lines">
                <strong>Report Build Statuses To</strong>
                <span>
                  <ul class="list">
                    <li class="list-row list-row--has-primary" ng-repeat="email in project_data.report_to">
                      <div class="list-primary-tile">
                        <i class="icon icon--l icon--grey icon--flat mdi mdi--send"></i>
                      </div>

                      <div class="list-content-tile list-content-tile--one-line">
                        <strong ng-bind="email"></strong>
                      </div>
                      <div class="list-secondary-tile">
                        <i class="icon icon--s icon--grey icon--flat mdi mdi--clear" style="cursor:pointer" ng-click="removeEmail($index)"></i>
                      </div>
                    </li>
                  </ul>
                </span>
              </div>
            </li>
            <li class="list-row list-row--has-primary" ng-init="new_email=''">
              <div class="grid">
                <div ng-class="{true:'grid__col12', false:'grid__col9'}[(new_email|isEmpty)]">
                  <lx-text-field class="list-content-tile" label="Add Email">
                    <input type="text" ng-model="new_email">
                  </lx-text-field>
                </div>
                <div class="grid__col3 mt">
                  <i class="icon icon--s icon--grey icon--flat mdi mdi--save toolbar__right" ng-show="!(new_email|isEmpty)" style="cursor:pointer" ng-click="addEmail()"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog dialog--l" id="newForm" lx-dialog>
    <div class="dialog__header bgc-light-blue-500">
        <div class="toolbar">

            <strong class="toolbar__label tc-white">New Project</strong>

            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" style="-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);" lx-ripple lx-dialog-close>
                    <i class="mdi mdi--add"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="dialog__content p">
      <div class="grid">
        <div class="grid__col6">
          <div class="switch">
            <input type="checkbox" id="switch1" class="switch__input" ng-model="new_form.sub_projects">
            <label for="switch1" class="switch__label">Sub-project</label>
            <span class="switch__help">Does this project have any sub-project?</span>
          </div>
        </div>
        <div class="grid__col6">
          <button ng-click="addSub()" ng-show="new_form.sub_projects && new_form.total.length < 3" class="btn btn--m bgc-light-blue-200 btn--fab toolbar__right" lx-ripple><i class="mdi mdi--add"></i></button>
        </div>
      </div>
      <div class="grid">
        <div class="grid__col6">
          <lx-text-field label="Github Account">
            <input type="text" ng-model="new_form.git_account">
          </lx-text-field>
        </div>
        <div class="grid__col6">
          <lx-text-field label="Github Project">
            <input type="text" ng-model="new_form.git_appname">
          </lx-text-field>
        </div>
      </div>
      <div ng-show="!new_form.sub_projects">
        <div class="grid">
          <div class="grid__col4">
            <lx-text-field label="Heroku App">
              <input type="text" ng-model="new_form.heroku">
            </lx-text-field>
          </div>
          <div class="grid__col4">
            <lx-text-field label="Listening Branch">
              <input type="text" ng-model="new_form.branch">
            </lx-text-field>
          </div>
          <div class="grid__col4">
            <lx-text-field label="Email Ids (, separated)">
              <input type="text" ng-model="new_form.email">
            </lx-text-field>
          </div>
        </div>
      </div>
      <div ng-show="new_form.sub_projects">
        <div class="grid" ng-repeat = "project in new_form.total">
          <div class="grid__col3">
            <lx-text-field label="Folder Name">
              <input type="text" ng-model="project.folder_name">
            </lx-text-field>
          </div>
          <div class="grid__col3">
            <lx-text-field label="Heroku App">
              <input type="text" ng-model="project.heroku_appname">
            </lx-text-field>
          </div>
          <div class="grid__col3">
            <lx-text-field label="Listening Branch">
              <input type="text" ng-model="project.branch">
            </lx-text-field>
          </div>
          <div class="grid__col3">
            <lx-text-field label="Email Ids (, separated)">
              <input type="text" ng-model="project.email">
            </lx-text-field>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog__actions">
      <button class="btn btn--m btn--light-green btn--raised" ng-click="saveForm()" lx-ripple>Save</button>
      <!-- <button class="btn btn--m btn--black btn--flat" ng-click="saveForm()" lx-ripple>Save</button> -->
    </div>
  </div>
</div>

<div class="footer"><!--footer part-->
  <div>
    <div style="margin-bottom: 5px;">Contribution from folks @</div>
    <img src="images/liftOffLogo.jpg" style="height: 20px;">
  </div>
</div>

</div>

</body>
</html>